@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');
body {
    font-family: 'Roboto', 'Oswald';
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(242, 242, 242);
    align-items: center;
    color: rgb(171, 170, 170);
}

h1.firstName {
    color: rgb(181, 224, 243);
    display: inline;
}

h1.lastName {
    color: rgb(89, 89, 89);
    text-transform: uppercase;
    display: inline;
}

h2 {
    color: rgb(45, 148, 180);
    display: inline;
    font-size: 1.1em;
}

h2.information {
    color: rgb(45, 148, 180);
}

h3 {
    color: rgb(130, 129, 131);
    margin-top: auto;
}

h4 {
    color: rgb(45, 148, 180);
    padding: 0;
    margin: 0;
}

h4.abilities {
    color: rgb(83, 83, 84);
}

h5 {
    font-size: 1em;
    padding-left: 2px;
    color: rgb(83, 83, 84);
    margin: 8px auto;
}

#avatar {
    width: 100px;
    height: 150px;
    float: left;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

div.information {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: lightgray;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

div.circulo {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(45, 148, 180);
    margin-left: 5px;
    float: left;
}

div.ability {
    float: left;
}

div.abilityItem {
    display: block;
}

div.containerTitle {
    text-align: center;
    margin: 0 25%;
    display: block;
}

.fas {
    font-size: 1.4em;
    color: rgb(45, 148, 180);
}

.fa-envelope,
.fa-phone,
.fa-map-marker-alt {
    font-size: 1em;
    color: rgb(255, 255, 255);
}

i {
    display: inline;
}

div.column1 {
    float: left;
    width: 48%;
    margin-right: 20px;
}

div.column2 {
    float: right;
    width: 48%;
    margin-left: 20px;
}

div.company {
    display: flex;
}

div.companyName {
    float: left;
    width: 30%;
    text-align: justify;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: lightgray;
    padding-top: 30px;
}

div.description {
    float: right;
    width: 60%;
    padding-left: 10px;
    padding-top: 30px;
}

#banner {
    display: block;
}

div.edcenter {
    margin: 25px 0px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    width: 25%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 25%;
    /* Full width */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

div.border {
    color: rgb(255, 255, 255);
    background-color: rgb(89, 89, 89);
    display: block;
    align-items: center;
    padding: 15px 10px;
}

div.bannerItem {
    background-color: rgb(89, 89, 89);
    display: inline;
    padding: 0px 30px;
}

div.tabla {
    display: table;
    width: 70%;
}

div.fila {
    display: table-row;
    margin-bottom: 8px;
}

div.columna1 {
    display: table-cell;
    cursor: pointer;
    margin-left: 20px;
}

div.columna2 {
    display: table-cell;
}

div.container2 {
    display: flex;
    margin-bottom: 30px;
}

#container1 {
    margin-right: 50px;
    margin-left: 50px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}